<!DOCTYPE html>
<html>
<head>
<title>Hello World Test</title>
</head>
<body>
<p>Deployment: <a href='<%= appURL %>'><%= appURL %></a></p>
<p>Not Logged in: <a href='/auth/login'>click to login</a></p>
</body>
</html>