<!-- Default Homepage / Logged-out redirect (Johnson Tran) -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="/home.css" rel="stylesheet"/>
</head>
<body>
    <div class = "header">
        <h2>Home</h2>
    </div>
    <div class = "content">
        <p>Deployment: <a href='<%= appURL %>'><%= appURL %></a></p>
        <p>Not Logged in: <a href='/auth/login'>click to login</a></p>
    </div>
</body>
</html>