<!-- The Admin portal to manage roles -->
<!DOCTYPE html>
<html>
<head>
<title>Post Login User</title>
</head>
<body>
<p>Post Login User View</p>
<p>User: <%= name %></p>
<p>Role: <%= JSON.stringify(roles) %></p>
<a href="/auth/logout">Log Out</a>
</body>
</html>