<!-- The main portal interface with links (Johnson Tran)-->
<!DOCTYPE html>
<html>
<head>
    <title>Post Login User</title>
    <link href="/portal.css" rel="stylesheet"/>
</head>
<body>
    <div class = "header">
        <p><b>Welcome <%= name %></b></p>
    </div>
    <div class = "content">
        <p>Roles: <% if (roles.length == 0) { %>None Assigned<% } else { %><%= JSON.stringify(roles) %><% } %></p>
        <p><br>
        Services:
        <% if (links.length == 0) { %>
        None Available
        <% } else { %>
        <ul>
            <% links.forEach(link => { %>
            <a href="<%= link.url %>" target="_blank"><%= link.name %></a>
            <p>
            <% }); %>
        </ul>
        <% } %>
        <br> 
        <form action="/auth/logout">
            <input type="submit" value="Log Out" />
        </form>
    </div>
</body>
</html>